<div class="gameover">
  <p class="big"><br>Your opponent left the game<br>:(</p>
  <p>The good news? You earned a win!</p>
  <p>Congrats...</p>

  <p><%= link_to 'Back to Base', games_path, :class => 'blue-button plain' %></p>
</div>
