<h3>Sink all you opponent's ships</h3>

<p>Eventually add record of games won and lost here. And provide option to play computer or online friend.</p>

<p><%= link_to "NEW GAME", new_game_path, :class => "blue-button plain" %></p>
<p><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'blue-button plain' %></p>

<!-- 
  This currently doesn't work properly. I suspect because the json is not getting rendered from the create action leading into the show action.
<% if !!@game %>
  <%= link_to "Back to last game", @game %>
<% end %> -->
