/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui/draggable
 *= require_self
 */

/*/////// Global ///////*/

html {
  background: #132029;
}

p, h1, h2, h3, div, a, label, span, input {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.wrapper {
  height: 480px;
  background-color: rgb(220, 225, 230);
}

.alert-success {
  color: green;
}

.alert-danger {
  color: red;
}

#header {
  width: 100%;
  background: #132029;
  background-image: -webkit-linear-gradient(top, #132029, #6b757a);
  background-image: -moz-linear-gradient(top, #132029, #6b757a);
  background-image: -ms-linear-gradient(top, #132029, #6b757a);
  background-image: -o-linear-gradient(top, #132029, #6b757a);
  background-image: linear-gradient(to bottom, #132029, #6b757a);
  height: 60px;
}

#footer {
  bottom: 0;
  width: 100%;
  background: #132029;
  background-image: -webkit-linear-gradient(top, #132029, #6b757a);
  background-image: -moz-linear-gradient(top, #132029, #6b757a);
  background-image: -ms-linear-gradient(top, #132029, #6b757a);
  background-image: -o-linear-gradient(top, #132029, #6b757a);
  background-image: linear-gradient(to bottom, #132029, #6b757a);
  height: 165px;
  z-index: 300;
}

#battleship-title {
  position: absolute;
  left: 32px;
  top: 16px;
  font-size: 28px;
  color: white;
}

#logout {
  position: absolute;
  right: 55px;
  top: 20px;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

#logout:hover {
  font-style: italic;
}

#contact-info {
  position: absolute;
  right: 55px;
  top: 580px;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

#contact-link {
  color: white;
}

#contact-link:hover {
  font-style: italic;
}

#notifications {
  padding: 15px;
}

input {
  margin: 8px;
  width: 150px;
  height: 14px;
}

.login, .sign-up {
  height: 50px;
}
