/*/////// Layout ///////*/

.half-page {
  float: left;
  width: 42%;
  margin-left: 4%;
  margin-right: 4%;
}

.draggable-ships {
  position: absolute;
  top: 224px;
  left: 448px;
}

#placement-instructions {
  position: absolute;
  top: 128px;
  left: 448px;
  width: 265px;
}

#arrange {
  font-family: 'Sigmar One', cursive;
  font-size: 18px;
  margin-bottom: 8px;
}

.arrange-instructions {
  margin-bottom: 5px;
}

.sunk-ships {
  height: 170px;
  font-size: 18px;
}

.gameover, .welcome {
  margin: auto;
  padding: 30px;
  width: 500px;
}

.registration {
  margin-top: 30px;
}

/*/////// Game Boards ///////*/

.grid {
  position: absolute;
  width: 320px;
  height: 320px;
}

#board-setup {
  top: 128px;
  left: 64px;
}

#opponent-board {
  top: 128px;
  left: 32px;
}

#user-board {
  top: 128px;
  left: 610px;
}

/*/////// Ships ///////*/

.ship {
  display: block;
  border: 1px solid navy;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
}

span.ship {
  cursor: pointer;
}

.horizontal#patrol-boat {
  height: 30px;
  width: 62px;
  background-image: url("patrol-boat.png");
}

.dummy-patrol {
  display: none;
  height: 30px;
  width: 62px;
  background-image: url("patrol-boat.png");
}

.horizontal#destroyer {
  height: 30px;
  width: 94px;
  background-image: url("destroyer.png");
}

.dummy-destroyer {
  display: none;
  height: 30px;
  width: 94px;
  background-image: url("destroyer.png");
}

.horizontal#submarine {
  height: 30px;
  width: 94px;
  background-image: url("submarine.png");
}

.dummy-submarine {
  display: none;
  height: 30px;
  width: 94px;
  background-image: url("submarine.png");
}

.horizontal#battleship {
  height: 30px;
  width: 126px;
  background-image: url("battleship.png");
}

.dummy-battleship {
  display: none;  
  height: 30px;
  width: 126px;
  background-image: url("battleship.png");
}

.horizontal#aircraft-carrier {
  height: 30px;
  width: 158px;
  background-image: url("aircraft-carrier.png");
}

.dummy-aircraft {
  display: none;  
  height: 30px;
  width: 158px;
  background-image: url("aircraft-carrier.png");
}

.vertical#patrol-boat {
  height: 62px;
  width: 30px;
  background-image: url("patrol-boat-vertical.png");
}

.vertical#destroyer {
  height: 94px;
  width: 30px;
  background-image: url("destroyer-vertical.png");
}

.vertical#submarine {
  height: 94px;
  width: 30px;
  background-image: url("submarine-vertical.png");
}

.vertical#battleship {
  height: 126px;
  width: 30px;
  background-image: url("battleship-vertical.png");
}

.vertical#aircraft-carrier {
  height: 158px;
  width: 30px;
  background-image: url("aircraft-carrier-vertical.png");
}

.position-a {
  position: absolute;
  top: 0px;
}

.position-b {
  position: absolute;
  top: 32px;
}

.position-c {
  position: absolute;
  top: 64px;
}

.position-d {
  position: absolute;
  top: 96px;
}

.position-e {
  position: absolute;
  top: 128px;
}

/*/////// Cells ///////*/

.cell {
  width: 30px;
  height: 30px;
  display: table-cell;
  border: 1px solid navy;
  margin: 0;
  background-image: url("cell.png");
  position: relative;
}

.hit {
  background-image: url("hit-cell.png");
  z-index: 200;
}

.miss {
  background-image: url("miss-cell.png");
  z-index: 200;
}

#opponent-board .available:hover {
  background-image: url("hover-cell.png");
}

/*/////// Instructions & Buttons ///////*/

.spaced {
  margin: 20px;
  font-size: 20px;
}

.big {
  font-size: 40px;
  font-family: 'Sigmar One', cursive;
}

.center {
  position: absolute;
  left: 384px;
  top: 77px;
  width: 194px;
}

.setup-label {
  position: absolute;
  left: 64px;
  top: 77px;
  font-size: 22px;
  width: 320px;
  font-family: 'Sigmar One', cursive;
}

.label-align {
  position: absolute;
  left: 32px;
  top: 77px;
  width: 320px;
  font-size: 22px;
  font-family: 'Sigmar One', cursive;
}

#opponent-board-label {
  left: 32px;
}

#player-board-label {
  left: 610px;
}

.blue-button {
  background: navy;
  background-image: -webkit-linear-gradient(top, navy, #2980b9);
  background-image: -moz-linear-gradient(top, navy, #2980b9);
  background-image: -ms-linear-gradient(top, navy, #2980b9);
  background-image: -o-linear-gradient(top, navy, #2980b9);
  background-image: linear-gradient(to bottom, navy, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 16px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
  border: 2px outset buttonface;
}

.plain {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
}

#board-complete {
  width: 280px;
}

.blue-button:hover {
  background: #1160d6;
  background-image: -webkit-linear-gradient(top, #1160d6, #4b93c2);
  background-image: -moz-linear-gradient(top, #1160d6, #4b93c2);
  background-image: -ms-linear-gradient(top, #1160d6, #4b93c2);
  background-image: -o-linear-gradient(top, #1160d6, #4b93c2);
  background-image: linear-gradient(to bottom, #1160d6, #4b93c2);
  text-decoration: none;
}
