/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.cell {
  width: 30px;
  height: 30px;
  display: table-cell;
  border: 1px solid navy;
  margin: 0;
  background-image: url("cell.png");
}

#board-setup {
  position: absolute;
  top: 96px;
  left: 96px;
  height: 320px;
  width: 320px;
}

.ship {
  height: 30px;
  display: block;
  border: 1px solid navy;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.horizontal#patrol-boat {
  height: 30px;
  width: 62px;
  background-image: url("patrol-boat.png");
}

.horizontal#destroyer {
  height: 30px;
  width: 94px;
  background-image: url("destroyer.png");
}

.horizontal#submarine {
  height: 30px;
  width: 94px;
  background-image: url("submarine.png");
}

.horizontal#battleship {
  height: 30px;
  width: 126px;
  background-image: url("battleship.png");
}

.horizontal#aircraft-carrier {
  height: 30px;
  width: 158px;
  background-image: url("aircraft-carrier.png");
}

.vertical#patrol-boat {
  height: 62px;
  width: 30px;
  background-image: url("patrol-boat-vertical.png");
}

.vertical#destroyer {
  height: 94px;
  width: 30px;
  background-image: url("destroyer-vertical.png");
}

.vertical#submarine {
  height: 94px;
  width: 30px;
  background-image: url("submarine-vertical.png");
}

.vertical#battleship {
  height: 126px;
  width: 30px;
  background-image: url("battleship-vertical.png");
}

.vertical#aircraft-carrier {
  height: 158px;
  width: 30px;
  background-image: url("aircraft-carrier-vertical.png");
}

.fixed-right {
  position: absolute;
  top: 96px;
  left: 480px;
}
