/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#multiplayer-message {
  height: 51px;
  font-size: 25px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.black {
  color: black;
}

.opponent-name {
  position: absolute;
  left: 18px;
  width: 194px;
  font-size: 14px;
  font-style: italic;
  color: navy;
}

.sound {
  position: absolute;
  top: 110px;
  left: 18px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  width: 194px;
}

.sound-on {
  background-image: url("sound-on.png");
}

.sound-off {
  background-image: url("sound-off.png");
}

