/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.multiplayer-center {
  position: absolute;
  left: 384px;
  top: 77px;
  width: 194px;
}

#multiplayer-message {
  height: 51px;
  font-size: 25px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.black {
  color: black;
}
