<div class="welcome">
  <p class="big">Welcome to BATTLESHIP</p>
  <div class="registration">
    <p class="spaced"><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Login", new_user_session_path %> to access your account</p>
  </div>
</div>
